@model MessengerMvcApp.ViewModels.ChatsViewModel

@{
    ViewBag.Title = "Chats";
}

<h1>Chat Now</h1>
<br />

@foreach (MessengerMvcApp.Models.Chats x in Model.chats)
{
    <h3>@x.Message</h3>
    <h6>@x.Name</h6>
    <h6>@x.Date</h6>
    <br />
}